::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, mediumpurple, #141414);
  border-radius: 8px;
}

scrollbar-color: linear-gradient(to bottom, mediumpurple, #141414) transparent;
scrollbar-width: thin;
border-radius: 8px;

* {
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(to bottom, mediumpurple, #141414) transparent;
}